body {
  overflow: hidden;
}

#confettis {
  background: black;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#decrypted-string {
  font-size: 2em;
  color: white;
}
